reportlab==4.4.4
numpy==2.3.4
pandas==2.3.2
pydantic==2.11.1
python-dateutil==2.9.0.post0
rich==14.1.0
# Embedding + Vector DB (local, simple)
sentence-transformers==5.1.0
torch==2.9.0
chromadb==1.2.2
duckdb~=1.4.1
requests~=2.32.4
pdfminer~=20191125
protobuf~=6.33.0
python-dotenv~=1.2.1